.flex.flex-col.md:flex-row.gap-x-4
  .basis-1_2.order-2.md:order-1
    = tile('hero') do
      = tile_heading('Sign In with Email')
      = tile_body do
        = full_form_for(@user, url: user_session_path) do |f|
          = f.email_field :email, hint: ''
          = f.password_field :password, autocomplete: "off", hint: ''
          = f.actions do
            = f.submit "Sign In"

  .basis-1_2.order-1.md:order-2
    = tile('hero') do
      = tile_heading('Sign In with Provider')
      = tile_body do
        %p= render "devise/shared/sign_in_with_discord"

.flex.justify-around.mt-8
  .flex.flex-col.gap-2
    %p.text-center= link_to "Forgot your password?", new_user_password_reset_path
    %p.text-center= link_to "Need to confirm your account?", new_user_confirmation_path
    %p.text-center= link_to "Need to create an account?", new_user_registration_path
