= single_column do
  = notice_warning do
    This is a work in progress. I believe things are accurate, but
    I'm still trying to confirm that belief. If you see any errors,
    <em>please</em> let me know!  On the #{link_to('Home Page', root_path)},
    there is a few ways to contact me.

  = tile do
    = tile_body do
      %h2
        New Brittania Time:
        %span{data: {controller: 'time'}}

  = tile do
    = tile_body do
      %h2{data: {controller: 'orbit', 'orbit-period-value': Astronomy::DAEDALUS_ORBITAL_PERIOD}}
        Daedalus Position:
        %small.font-normal
          %span{data: {'orbit-target': 'position'}}
          %span.text-sm.italic{data: {'orbit-target': 'note'}}

  = tile do
    = tile_body do
      %h2 Cabalists

      %table.Table
        %thead.border-b-2.border-grey-300
          %th
          %th Current City
          %th Symbol
          %th Virtue
          %th.text-right Remaining
          %th Next City
        - Astronomy::PLANETS.each do |planet, info|
          %tr.hover:bg-grey-100{data: {
              controller: 'cabalist',
              'cabalist-period-value': info[:orbital_period],
              'cabalist-offset-value': info[:offset]
            } }
            %td.font-bold.pr-2
              = info[:cabalist].to_s.titleize

            %td{ data: { 'cabalist-target': 'currentCity' } }
            %td.text-sm{ data: { 'cabalist-target': 'symbol' } }
            %td.text-sm{ data: { 'cabalist-target': 'virtue' } }
            %td.text-right{ data: { 'cabalist-target': 'timeRemaining' } }
            %td{ data: { 'cabalist-target': 'nextCity' } }


  = notice_info do
    The time remaining is simplistic, as it takes into account the movement
    of the planets, but not the movement of the constellation (which is very slow).
    It's more accurate, the smaller it gets, so it's still a useful figure.

  = tile do
    = tile_body do
      %h2
        Planet Positions:

      %table.Table
        %thead.border-b-2.border-grey-300
          %th Planet
          %th Position
          %th Visible?
          %th.text-right Zenith in
          %th Color
          %th Orbital Period
          %th Cabalist

        - Astronomy::PLANETS.each do |planet, info|
          %tr.hover:bg-grey-100{data: {controller: 'orbit', 'orbit-period-value': info[:orbital_period]}}
            %td.font-bold
              = planet.to_s.titleize
            %td
              %span.mr-4{data: {'orbit-target': 'position'}}
            %td
              %span.text-right.text-sm.italic{data: {'orbit-target': 'note'}}
            %td.text-right{data: {'orbit-target': 'timeToZenith'}}
            %td{class: "planet-#{info[:color]}"}
              = info[:color]
            %td
              = info[:orbital_period]
              days
            %td= info[:cabalist]

  = tile do
    = tile_body do
      %h2
        Constellations:

      %table.Table
        %thead.border-b-2.border-grey-300
          %th Constellation
          %th Position (arc)
          %th.text-right Zenith in
          %th Visible?
          %th City
          %th Virtue

        - Constellations::ALL.each do |constellation, info|
          %tr.hover:bg-grey-100{data: {controller: 'constellation', 'constellation-offset-value': info[:offset]}}
            %td.font-buld
              = constellation.to_s.titleize

            %td{data: {'constellation-target': 'position'}}
            %td.text-right{data: {'constellation-target': 'timeToZenith'}}
            %td.text-sm.italic{data: {'constellation-target': 'note'}}
            %td.text-sm= info[:city]
            %td.text-sm= info[:virtue]

