.DeviseLinks.my-4.p-2
  - if controller_name != 'sessions'
    %p
      Already have an account?
      = link_to "Sign in", new_session_path(resource_name)
  - if devise_mapping.registerable? && controller_name != 'registrations'
    %p
      Don't have an account?
      = link_to "Sign up", new_registration_path(resource_name)
  - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
    %p
      Forgot your password?
      = link_to "Reset it", new_password_path(resource_name)
  - if devise_mapping.confirmable? && controller_name != 'confirmations'
    %p
      Didn't get confirmation email?
      = link_to "Resend", new_confirmation_path(resource_name)
  - if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
    %p
      Locked out?
      = link_to "Send unlock instructions?", new_unlock_path(resource_name)
