- page_title("Verify #{params[:collection].titleize}")
= tile do
  = tile_body do
    = paginate @verifiables
    %table.Table
      %thead
        %th ID
        %th Name
        %th Verified
        %th Updated
      %tbody
        - @verifiables.each do |verifiable|
          %tr
            %td= verifiable.id
            %td
              = link_to(verifiable.name, verifiable)
              - if Item === verifiable
                = item_abstract_tag(verifiable)
            %td
              - if verifiable.verified?
                #{time_ago_in_words(verifiable.last_verified_at) if verifiable.last_verified_at} ago
              - else
                never
            %td
              #{time_ago_in_words verifiable.updated_at} ago
    = paginate @verifiables
