- @recipe.setup_for_view
= sl_form_for(@recipe) do |f|
  = f.error_messages
  .row
    .col-sm-6
      = f.text_field :name, autofocus: true
      .row
        .col-sm-5
          = f.select :craft_skill, craft_skills_for_recipe_options, include_blank: true
        .col-sm-3
          = f.number_field :proficiency
        .col-sm-4
          = f.select :teachable, teachable_options, include_blank: true

      - index = 1
      = f.fields_for(:results) do |ri|
        .row.recipe-item-container
          .col-sm-10
            = ri.text_field :name, class: 'recipe-item-lookup', label: "Output #{index}", tabindex: (index == 1 ? 0 : (100 + index))
            = ri.hidden_field :item_id, class: 'recipe-item-id'
          .col-sm-2
            = ri.text_field :count, class: 'recipe-item-count', tabindex: (index == 1 ? 0 : (101 + index))
            - index += 1

    .col-sm-6
      - index = 1
      = f.fields_for(:ingredients) do |fi|
        .row.recipe-item-container
          .col-sm-10
            = fi.text_field :name, class: 'recipe-item-lookup', label: "Ingredient #{index}"
            - index += 1
            = fi.hidden_field :item_id, class: 'recipe-item-id'
          .col-sm-2
            = fi.text_field :count, class: 'recipe-item-count'

  = f.actions do
    = f.cancel('Cancel', f.object)
    = f.submit
