- page_title('Recipes')

= tile do
  = tile_body do
    = form_tag(url_for(action: :index), enforce_utf8: false, method: "get", class: 'Form--inline') do |f|
      .Field
        = text_field_tag(:rq, params[:rq], class: 'Field-input', placeholder: 'filter by name')
      .Field
        = select_tag(:skill, options_for_select(CraftSkill::WITH_RECIPES.map { |s| [ s.name, s.key ] }, params[:skill]),
        include_blank: '-- any skill --', class: 'Field-input')
      .Field
        = number_field_tag(:rsmin, params[:rsmin], class: 'Field-input', placeholder: 'min skill')
      .Field
        = number_field_tag(:rsmax, params[:rsmax], class: 'Field-input', placeholder: 'max skill')

      .Field.whitespace-nowrap
        = submit_tag('Filter', name: '', class: 'Button Button--primary')
        - if policy(Recipe).create?
          = new_button_to('Add Recipe', new_recipe_path, class: 'button middle secondary')
        - if policy(:verification).index?
          = primary_button_to('Verify Recipes', recipe_verifications_path)

= tile do
  = tile_body do
    = paginate @recipes
    %table.Table
      %thead
        %th Recipe Name
        %th Skill
        %th.u-textRight Proficiency
        %th.u-textRight Ingredients
        %th Produces Item(s)
      %tbody
        - @recipes.each do |recipe|
          %tr
            %td= link_to(recipe.name, recipe)
            %td= recipe.craft_skill
            %td.u-textRight= recipe.proficiency
            %td.u-textRight= recipe.ingredients_count
            %td
              - recipe.results.each do |result|
                = link_to(result.to_s, result.item)
    = paginate @recipes
