- page_title @recipe.name
.grid.grid-cols-3.gap-2
  .col-span-2
    = tile do
      = tile_body do
        = render @recipe
        = render partial: 'comments/subject', object: @recipe

  .col-span-1
    = render partial: 'recipes/work_list'

- if policy(@recipe).destroy?
  .text-right.m-2
    = destroy_button_to('Delete Recipe', @recipe)
