- page_title @recipe.name
.flex.flex-wrap
  .min-w-md.grow
    = tile do
      = tile_body do
        = render @recipe
        = render_comments_for(@recipe)

  .max-w-sm
    = render partial: 'recipes/work_list'

- if policy(@recipe).destroy?
  .text-right.m-2
    = destroy_button_to('Delete Recipe', @recipe)
