- page_title @recipe.name
= tile do
  = tile_body do
    .grid.grid-cols-3.gap-4
      .col-span-2
        = render @recipe
        = render partial: 'comments/subject', object: @recipe

      %div
        = render partial: 'recipes/work_list'

- if policy(@recipe).destroy?
  .text-right.m-2
    = destroy_button_to('Delete Recipe', @recipe)
