- page_title('Items')

= tile do
  = tile_heading('Abstract Items') do
    - if policy(Item).edit?
      = new_button_to('New Item', new_item_path)

  = tile_body do
    .row
      .col-xs-12
        .Callout.Callout-primary
          %p
            There are a lot of "items" that are not real, actual items.
            These items are referred to as <em>Abstract Items</em> (or <em>Abstractions</em>).
          %p
            These Abstract Items will often appear in a recipe, where
            any number of items (of all similar "type") can be used to
            execute the recipe.

          %p
            E.g., if you are asked for a "Metal Binding" you could use
            an "Iron Binding" or a "Copper Binding" (or many others).
            However, you will never find an actual item in the game named
            a "Metal Binding."

          %p
            Below are (most) all of the known Abstractions and corresponding
            items.



.grid.grid-cols-1.md:grid-cols-2.lg:grid-cols-3
  - @items.each do |item|
    = tile do
      = tile_heading(link_to(item.name, item))
      = tile_body do
        %ul
          - item.instances.each do |instance|
            %li= link_to(instance.name, instance)

= paginate @items
