= tile('hero') do
  = tile_heading('Forgot your password?')
  = tile_body do
    = full_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!
      = f.email_field :email
      %p.help-text
        The email you used to sign-up.
      = f.actions do
        = f.submit "Send me reset password instructions"
    = render "devise/shared/links"
