= turbo_frame_tag(skill) do
  .tableRow.hover:bg-grey-200{ data: {
      controller: 'skills',
      'skills-xp-factor-value' => skill.xp_factor,
      'skills-avatar-update-url-value' => (@avatar ? avatar_skill_path(@avatar.id, skill.key) : nil),
      'skills-rollup-target' => 'member',
      'rollup-target' => "#{skill.category}-#{skill.school}"
      } }
    - current_skill = @current_skills[skill.key]
    .skillCell.skillName{ class: @avatar&.ignoring_skill?(skill) ? 'opacity-50' : '' }
      - if @avatar
        - if @avatar.ignoring_skill?(skill)
          = button_to(render_icon('eye_slash', size: :sm), reveal_avatar_skill_path(@avatar, skill.id),
            class: 'text-grey-500',
            method: :patch,
            tabindex: "-1",
            form: { class: 'inline'})
        - else
          - show_all_param = params.key?(:show_all) ? { show_all: true } : {}
          = button_to(render_icon('eye', size: :sm), ignore_avatar_skill_path(@avatar, skill.id, **show_all_param),
            class: 'text-grey-500',
            method: :patch,
            tabindex: "-1",
            form: { class: 'inline'})

      = skill.name
      %span.text-xs.opacity-8.font-normal (#{skill.xp_factor.to_s.sub(/.0$/, "")})
    .xpCell.currentCell
      .levelInput
        %input{ type: 'number', value: current_skill.current,
          data: { 'skills-target': 'from', action: 'skills#calculateCurrent blur->skills#updateFrom' } }
      %span.xp{ data: { 'skills-target': 'current' }}
    .xpCell.targetCell
      .levelInput
        %input{ type: 'number', value: current_skill.target,
          data: { 'skills-target': 'to', action: 'skills#calculateTotal  blur->skills#updateTo' } }
      %span.xp{ data: { 'skills-target': 'total' }}
    .remainingXPCell
      %span{ data: { 'skills-target': 'remaining' }}

