- page_title('Skills')

= tile do
  = tile_heading("#{@activity} Skills".titleize) do
    - if @avatars
      = sl_form_with(url: '#', data: { controller: 'select-nav' }, html: { class: 'Form--inline' }) do |form|
        = form.select('Choose Avatar to manage: ',
                       [['~ none ~', skills_path]] + @avatars.map { |a| [a.name, avatar_skills_path(avatar_id: a, activity: @activity)] },
                      selected: request.path,
                      html: { class: 'Field-input' },
                      label: false)
    - else
      = link_to('create an avatar to save skills', avatars_path)

    - other_activity_path = @avatar ? avatar_skills_path(@avatar, activity: other_activity) : skills_path(activity: other_activity)
    = primary_button_to("#{other_activity} Skills".titleize, other_activity_path)

  = tile_body do
    %table.Table.SkillTable
      %tr
        %th Skill
        %th.u-textRight Cost
        %th.u-textRight Current Level
        %th.u-textRight Current XP
        %th.u-textRight Target Level
        %th.u-textRight Total XP
        %th.u-textRight Remaining XP
      - @skills.each do |category, schools|
        %tr{id: category}
          %th.u-textCenter(colspan=7)= category.upcase
        - schools.each do |school, school_skills|
          %tr{id: "#{category}-#{school}"}
            %th.u-textCenter
              = school.titleize
            %th(colspan=6)
          - school_skills.each do |skill|
            %tr{ data: {
                controller: 'skills',
                'skills-xp-factor-value' => skill.xp_factor,
                'skills-avatar-update-url-value' => (@avatar ? avatar_skill_path(@avatar.id, skill.key) : nil)
                 } }
              %td.skill-name= skill.name
              %td= skill.xp_factor
              %td
                %input.Field-input{ type: 'number', data: { 'skills-target': 'from', action: 'skills#calculateFrom blur->skills#updateFrom' } }
              %td
                %span.xp-field{ data: { 'skills-target': 'invested' }}
              %td
                %input.Field-input{ type: 'number', data: { 'skills-target': 'to', action: 'skills#calculateTo  blur->skills#updateTo' } }
              %td
                %span.xp-field{ data: { 'skills-target': 'total' }}
              %td
                %span.xp-field{ data: { 'skills-target': 'remaining' }}
