
= tile(:info) do
  = tile_body do
    %p
      For more details, see this #{link_to 'SotA wiki article', 'https://sotawiki.net/sota/Master_Trainer'}.

.MasterTrainers
  = image_tag('sota-map-overland.png')
  .trainer.trainer-shield
    = image_tag('skill-icons/combat_shield')
  .trainer.trainer-polearm
    = image_tag('skill-icons/combat_polearm')
  .trainer.trainer-blades
    = image_tag('skill-icons/combat_blades')
  .trainer.trainer-heavy-armor
    = image_tag('skill-icons/combat_heavy_armor')
  .trainer.trainer-light-armor
    = image_tag('skill-icons/combat_light_armor')
  .trainer.trainer-bludgeon
    = image_tag('skill-icons/combat_bludgeon')
  .trainer.trainer-ranged
    = image_tag('skill-icons/combat_ranged')
  .trainer.trainer-sun
    = image_tag('skill-icons/magic_sun')
  .trainer.trainer-fire
    = image_tag('skill-icons/magic_fire')
  .trainer.trainer-earth
    = image_tag('skill-icons/magic_earth')
  .trainer.trainer-death
    = image_tag('skill-icons/magic_death')
  .trainer.trainer-chaos
    = image_tag('skill-icons/magic_chaos')
  .trainer.trainer-life
    = image_tag('skill-icons/magic_life')
  .trainer.trainer-air
    = image_tag('skill-icons/magic_air')
  .trainer.trainer-water
    = image_tag('skill-icons/magic_water')
  .trainer.trainer-lunar
    = image_tag('skill-icons/magic_lunar')
  .trainer.trainer-tactics
    = image_tag('skill-icons/strategy_tactics')
  .trainer.trainer-subterfuge
    = image_tag('skill-icons/strategy_subterfuge')
  .trainer.trainer-bard
    = image_tag('skill-icons/strategy_bard')
  .trainer.trainer-taming
    = image_tag('skill-icons/strategy_taming')
  .trainer.trainer-focus
    = image_tag('skill-icons/strategy_focus')
