
.p-2
  = tile(:info) do
    = tile_body do
      %p
        For more details, see this #{link_to 'SotA wiki article', 'https://sotawiki.net/sota/Master_Trainer'}.

  .MasterTrainers
    = image_tag('sota-map-overland.png', class: 'rounded-xl')
    .trainer.trainer-shield
      = image_tag('skill-icons/combat_shield.png')
    .trainer.trainer-polearm
      = image_tag('skill-icons/combat_polearm.png')
    .trainer.trainer-blades
      = image_tag('skill-icons/combat_blades.png')
    .trainer.trainer-heavy-armor
      = image_tag('skill-icons/combat_heavy_armor.png')
    .trainer.trainer-light-armor
      = image_tag('skill-icons/combat_light_armor.png')
    .trainer.trainer-bludgeon
      = image_tag('skill-icons/combat_bludgeon.png')
    .trainer.trainer-ranged
      = image_tag('skill-icons/combat_ranged.png')
    .trainer.trainer-sun
      = image_tag('skill-icons/magic_sun.png')
    .trainer.trainer-fire
      = image_tag('skill-icons/magic_fire.png')
    .trainer.trainer-earth
      = image_tag('skill-icons/magic_earth.png')
    .trainer.trainer-death
      = image_tag('skill-icons/magic_death.png')
    .trainer.trainer-chaos
      = image_tag('skill-icons/magic_chaos.png')
    .trainer.trainer-life
      = image_tag('skill-icons/magic_life.png')
    .trainer.trainer-air
      = image_tag('skill-icons/magic_air.png')
    .trainer.trainer-water
      = image_tag('skill-icons/magic_water.png')
    .trainer.trainer-lunar
      = image_tag('skill-icons/magic_lunar.png')
    .trainer.trainer-tactics
      = image_tag('skill-icons/strategy_tactics.png')
    .trainer.trainer-subterfuge
      = image_tag('skill-icons/strategy_subterfuge.png')
    .trainer.trainer-bard
      = image_tag('skill-icons/strategy_bard.png')
    .trainer.trainer-taming
      = image_tag('skill-icons/strategy_taming.png')
    .trainer.trainer-focus
      = image_tag('skill-icons/strategy_focus.png')
