.grid.grid-cols-2.gap-1
  .col-span-2.md:col-span-1
    = tile do
      = tile_body do
        = tile('info') do
          = tile_heading('Updates', type:'info')
          = tile_body do
            %p
              %strong
                Things are quiet.

            %p
              Not much has been going on here, although, we do continue
              to do continued maintenance on the app.

        = render_comments_for(:front_page)

  .col-sm-6.col-span-2.md:col-span-1
    = tile_with_heading('Contact Us') do
      %p
        %strong
          Thanks for visiting SotaLore!

      %p
        This site is a constant work in progress. If you'd like to help in any way,
        or just provide feedback, you can reach out to Gravidy. You can leave me a
        note on the
        #{link_to("SotA official forums", 'https://www.shroudoftheavatar.com/forum/index.php?members/gravidy.6235/', target: '_blank')}.

    = tile_with_heading("Here's the latest recipes") do
      = render Recipe.order(id: :desc).first(5)
