= entire_page do
  .grid.grid-cols-2.gap-1
    .col-span-2.md:col-span-1
      = tile do
        = tile_body do
          = render @top_post
          = render_comments_for(@top_post)

    .col-sm-6.col-span-2.md:col-span-1
      = tile_with_heading('Contact Us') do
        %p
          %strong
            Thanks for visiting SotaLore!

        %p
          This site is a constant work in progress. If you'd like to help in any way,
          or just provide feedback, you can reach out to Gravidy. You can leave me a
          note on the
          #{link_to("SotA official forums", 'https://www.shroudoftheavatar.com/forum/index.php?members/gravidy.6235/', target: '_blank')}.
          You can also comment on the
          #{link_to("ongoing SotaLore thread", Sota.forum_thread, target: '_blank')}
          on the forums.
          If you use discord, please feel free to join my server here:
          #{link_to('https://discord.gg/HcDyH4b', 'https://discord.gg/HcDyH4b', target: :blank)}.

      = tile_with_heading("Here's some random recipes") do
        = render Recipe.random(3)
