= tile('info') do
  = tile_heading('Updates')
  = tile_body do
    %p
      %strong
        The skills calculator now saves skill information for your avatars!

    %p
      Once you #{link_to_if(current_user.null?, 'register', new_user_registration_path)} for an account,
      you can #{link_to('create an Avatar', avatars_path)}. Then from the
      #{link_to('skills calculator', skills_path)}, select an Avatar from the
      top-right select box, and any skill levels you enter will be saved.

    %p
      <strong>Latest update:</strong> An Avatar can be set as your <em>default</em>
      Avatar. This will make the skills calculator default to them. From there, you
      select another Avatar, or <em>~none~</em> for just a scratchpad.

    %p
      I could still use lots of feedback on what to do next. I've made it
      possible to leave anonymous comments, so feel free to send me a message
      that way.

    %p
      If you want to chat on Discord, you can join my server here:
      = link_to('https://discord.gg/HcDyH4b', 'https://discord.gg/HcDyH4b', target: :blank)
