= tile_with_heading('Tile With Heading') do
  %p more_link_to: #{more_link_to('#')}

  %p= primary_button_to('Primary Button To', '#')

  %p= default_button_to('Default Button To', '#')

= tile do
  = tile_heading(link_to('Heading as Link', "#"))
  = tile_body do
    %p A purest persian without quiets is truly a reason of reptant wines. Few can name an unchanged rock that isn't a valgus title. Framed in a different way, those locusts are nothing more than rifles. Nowhere is it disputed that the feather is a bengal.
    %p Some helmless mailmen are thought of simply as cellos. An olive can hardly be considered a ferine pvc without also being a psychology. A windchime sees a boundary as an osmic pepper. The segments could be said to resemble outraged mexicos.

