.grid.grid-cols-2
  .col-span-1
    = tile_with_heading('Tile With Heading') do
      %p more_link_to: #{more_link_to('#')}
      %p= primary_button_to('Primary Button To', '#')
      %p= default_button_to('Default Button To', '#')

    = tile do
      = tile_heading('Tile with Controls', subheading: 'subheading') do
        = view_icon_to('#')
        = edit_icon_to('#')
        = destroy_icon_to('#')
      = tile_body do
        %p= primary_button_to('Primary Button To', '#')
        %p= default_button_to('Default Button To', '#')


  .col-span-1
    = tile(:primary) do
      = tile_heading('Primary Tile') do
        = default_button_to('view', '#')
        = edit_button_to('edit', '#')
      = tile_body do
        %p In modern times authors often misinterpret the law as an ungyved ex-husband, when in actuality it feels more like a sunlit church. This could be, or perhaps authors often misinterpret the november as a mutant icicle, when in actuality it feels more like a gloomful fire.

    - %w[ warning danger success info ].each do |type|
      = tile(type) do
        = tile_heading("#{type.capitalize} Tile")
        = tile_body do
          %p In modern times authors often misinterpret the law as an ungyved ex-husband, when in actuality it feels more like a sunlit church. This could be, or perhaps authors often misinterpret the november as a mutant icicle, when in actuality it feels more like a gloomful fire.


= tile do
  = tile_heading(link_to('Heading as Link', "#"))
  = tile_body do
    %p A purest persian without quiets is truly a reason of reptant wines. Few can name an unchanged rock that isn't a valgus title. Framed in a different way, those locusts are nothing more than rifles. Nowhere is it disputed that the feather is a bengal.
    %p Some helmless mailmen are thought of simply as cellos. An olive can hardly be considered a ferine pvc without also being a psychology. A windchime sees a boundary as an osmic pepper. The segments could be said to resemble outraged mexicos.



= tile_with_heading('Icons') do
  .flex.flex-row.flex-wrap
    - HeroIconHelper::ICONS.keys.each do |icon|
      .flex.flex-col.inline-block.text-center.p-2.m-2.border.rounded
        %div= render_icon(icon)
        %div= icon


  %h3 Icon Variations
  .flex.flex-row
    - HeroIconHelper::SIZES.keys.each do |size|
      .flex.flex-col.inline-block.text-center.p-2.m-2.border.rounded
        %div= icon_book(size: size, color: :orange)
        %div= size

  .flex.flex-row
    - HeroIconHelper::COLORS.keys.each do |color|
      %div{ class: "flex flex-col inline-block text-center p-2 m-2 border rounded #{'text-white bg-grey-700' if color == 'white'}" }
        %div= icon_book(size: :md, color: color)
        %div= color

= tile do
  %h3 Tailwind Colors
  - shades = (1..9).to_a.map { |i| "#{i * 100}" }
  - colors = %w[slorange red orange yellow green blue purple]
  - colors.each do |color|
    .flex.flex-row
      - shades.each do |shade|
        %div{ class: "px-2 py-4 flex-grow text-center bg-#{color}-#{shade} inline-block" }= "#{color}-#{shade}"

  %h3.mt-4 Old Colors
  - shades = (0..4).to_a
  - colors = %w[red yellow green orange blue purple]
  - colors.each do |color|
    .flex.flex-row
      - shades.each do |shade|
        %div{ class: "px-2 py-4 flex-grow text-center inline-block #{'text-white' if shade < 3}", style: "background-color: var(--#{color}#{shade})" }= "#{color}#{shade}"

  %h3.mt-4 Greys
  - shades = (0..9).to_a
  .flex.flex-row
    - shades.each do |shade|
      %div{ class: "px-2 py-4 flex-grow text-center inline-block #{'text-white' if shade < 5}", style: "background-color: var(--grey#{shade})" }= "grey#{shade}"


= tile_with_heading('Item Use Icons') do
  .flex.flex-row.flex-wrap
    - Item::ITEM_USES.keys.each do |use|
      %div= item_use_tag(Item.new(use: use))
  .flex.flex-row.flex-wrap.mt-4
    - Item::ITEM_USES.keys.each do |use|
      %div= item_use_tag(Item.new(use: use), large: true)
