.flex.flex-col.md:flex-row.gap-x-4.items-center
  .basis-1_2.order-2.md:order-1
    = tile('hero') do
      = tile_heading('Set New Password')
      = tile_body do
        = full_form_for(@user, url: user_password_reset_path) do |f|
          = hidden_field_tag(:token, params[:token])
          = f.password_field :password, hint: 'At least 8 characters.'
          = f.password_field :password_confirmation, hint: 'Must match the password above.'
          = f.actions do
            = f.submit "Change Password"

    .mt-8.flex.flex-col.gap-1
      %p.text-center= link_to "Need to sign in?", new_user_session_path
