%h1 Farming Planner

= tile_with_heading('Farming Information') do
  .row
    .col-md-4
      %p
        Seeds are grouped by the time it takes to fully grow. There are three
        different speeds, which take 24 hours, 48 hours and 72 hours (a
        greenhouse halves the time, planting inside is a 10-fold increase).
        These seeds also happen to be grouped by price, as shown in this table.

    .col-md-8
      %table.Table
        %thead
          %tr
            %th Cost
            %th Outside Time
            %th Greenhouse Time
            %th Inside Time
        %tbody
          %tr
            %th 6-10 gold
            %td 24 hours
            %td 12 hours
            %td 240 hours
          %tr
            %th 16 gold
            %td 48 hours
            %td 24 hours
            %td 480 hours
          %tr
            %th 30 gold
            %td 72 hours
            %td 36 hours
            %td 720 hours

= tile_with_heading('Watering Information') do
  %p
    For maximum yield, seeds have to be watered a total of four times, at the
    appropriate time. The <strong>first watering</strong> occurs when the seed is
    planted. Subsequent waterings occer in every <em>third</em> of the growing
    time. The first third starts immediately after planting, so the easiest
    time to do the <strong>second watering</strong> is immediately following planting.

  %table.Table
    %thead
      %tr
        %th Speed
        %th Second Watering
        %th Third Watering
        %th Fourth Watering
        %th Harvest
    %tbody
      %tr
        %td Quick
        %td 0 to 8 hours
        %td 8 to 16 hours
        %td 16 to 24 hours
        %td After 24 hours
      %tr
        %td Medium
        %td 0 to 16 hours
        %td 16 to 32 hours
        %td 32 to 48 hours
        %td After 48 hours
      %tr
        %td Slow
        %td 0 to 24 hours
        %td 24 to 48 hours
        %td 48 to 72 hours
        %td After 72 hours

  %p
    Remember that a greenhouse halves these times.

= tile do
  = tile_heading('Watering Calculator')
  = tile_body do
    #FarmingPlanner
      .FarmingPlan
        %form.FarmingPlanInput
          .FarmingPlanInput-seedType
            %label
              What type of seed?
              %select.seedType.form-select
                = options_for_select([[ "Quick", (24/3) ], [ "Medium", (48/3) ], [ "Slow", (72/3) ]])
          .FarmingPlanInput-plantingLocation
            %label
              Plannting Location:
              %select.plantingLocation.form-select
                = options_for_select([[ "Normal / Outside (1.0)", 1/1 ], [ "Greenhouse (2.0)", "0.5" ], [ "Inside (0.1)", "10.0" ]])

        .FarmingPlanStep
          .FarmingPlanLabel.FarmingPlanLabel--one
            Planting at:
          .FarmingPlanStep-time.startTime
            = local_time Time.zone.now

        .FarmingPlanStep
          .FarmingPlanLabel.FarmingPlanLabel--one
            First Water:
          .FarmingPlanStep-full
            %em happens with planting

        .FarmingPlanStep
          .FarmingPlanLabel.FarmingPlanLabel--two
            Second Water:
          .FarmingPlanStep-full
            %em do this immediately after planting

        .FarmingPlanStep
          .FarmingPlanLabel.FarmingPlanLabel--two
            Third Water:
          .FarmingPlanStep-time.segment1
            = local_time 8.hours.from_now
          .FarmingPlanStep-time.segment2
            = local_time 16.hours.from_now

        .FarmingPlanStep
          .FarmingPlanLabel.FarmingPlanLabel--three
            Fourth Water:
          .FarmingPlanStep-time.segment2
            = local_time 16.hours.from_now
          .FarmingPlanStep-time.endTime
            = local_time 24.hours.from_now

        .FarmingPlanStep
          .FarmingPlanLabel.FarmingPlanLabel--four
            Harvest after:
          .FarmingPlanStep-time.endTime
            = local_time 24.hours.from_now

= tile do
  = tile_heading('Seeds')
  = tile_body do
    = notice_info do
      When known, the expected average yield from complete watering is shown in <em>(parentheses)</em>.
    .flex.flex-row.flex-wrap.gap-4
      - seeds = Item.use_is_seed.all.order(:price, 'lower(name)').to_a
      %div.flex-grow.min-w-fit
        %h3 Quick Growing Seeds
        %ul
          - seeds.select { |s| s.price && s.price < 16 }.each do |seed|
            %li
              - if policy(Item).edit?
                = edit_icon_to(edit_item_path(seed), size: :small)
              = link_to seed, seed
              - if seed.yield.present?
                %em (#{seed.yield})
              = item_price_tag(seed)
      %div.flex-grow.min-w-fit
        %h3 Medium Growing Seeds
        %ul
          - seeds.select { |s| s.price == 16 }.each do |seed|
            %li
              - if policy(Item).edit?
                = edit_icon_to(edit_item_path(seed), size: :small)
              = link_to seed, seed
              - if seed.yield.present?
                %em (#{seed.yield})
              = item_price_tag(seed)
      %div.flex-grow.min-w-fit
        %h3 Slow Growing Seeds
        %ul
          - seeds.select { |s| s.price && s.price > 16 }.each do |seed|
            %li
              - if policy(Item).edit?
                = edit_icon_to(edit_item_path(seed), size: :small)
              = link_to seed, seed
              - if seed.yield.present?
                %em (#{seed.yield})
              = item_price_tag(seed)
