.grid.grid-cols-1.md:grid-cols-2
  .col-span-1.order-2.md:order-1
    = tile('hero') do
      = tile_heading('Sign In with Email')
      = tile_body do
        = full_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          = f.email_field :email
          = f.password_field :password, autocomplete: "off"
          - if devise_mapping.rememberable?
            = f.check_box :remember_me
          = f.actions do
            = f.submit "Sign In"

        = render "devise/shared/links"

  .col-span-1.order-1.md:order-2
    = tile('hero') do
      = tile_heading('Sign In with Provider')
      = tile_body do
        %p= render "devise/shared/sign_in_with_discord"
