= sl_form_for(@item) do |f|
  = f.error_messages
  = f.text_field    :name, autofocus: true
  = f.select        :use, Item.uses.keys
  = f.select        :source, Item.sources.keys
  = f.check_box     :abstract
  = f.select        :instance_id, abstract_items_options, include_blank: true
  = f.number_field  :price, min: 1
  = f.number_field  :weight, step: '0.01'
  = f.select        :gathering_skill, CraftSkill.gathering.map { |s| [ s.name, s.key ]},
  include_blank: true, selected: @item.gathering_skill&.key
  - if @item.is_a?(Seed)
    = field_set_tag("Seed Information") do
      = f.number_field :yield, min: 1
  = f.text_area :effects
  = f.text_area :notes

  = f.actions do
    = f.submit
