= sl_form_for(@item, data: { controller: 'item-form' }) do |f|
  = f.error_messages
  .grid.grid-cols-1.lg:grid-cols-2.gap-4
    %div
      = f.text_field    :name, autofocus: true
      = f.select        :use, Item.uses.keys, {}, html_options={ data: { 'item-form-target': 'useSelect', 'action': 'item-form#change_use' }}

      = field_set_tag("Seed Information", data: {'item-form-target': 'useSpecific', 'for-use': 'seed'}) do
        = f.number_field :yield, min: 1

      = field_set_tag("Food Information", data: {'item-form-target': 'useSpecific', 'for-use': 'food,pet-food'}) do
        = f.number_field :buff_slots_used, min: 1, max: 3

      = f.select :source, Item.sources.keys
      .grid.grid-cols-1.md:grid-cols-2.gap-4
        = f.check_box :abstract
        = f.select :instance_id, abstract_items_options, include_blank: true
      .grid.grid-cols-1.md:grid-cols-2.gap-4
        = f.number_field :weight, step: '0.01'
        = f.number_field :price, min: 1

      = f.select :gathering_skill, CraftSkill.gathering.map { |s| [ s.name, s.key ]},
                 include_blank: true, selected: @item.gathering_skill&.key
    %div
      = f.text_area :effects
      = f.text_area :notes

      = f.actions do
        = f.submit
