- page_title('Items')

= tile do
  = tile_heading('Items') do
    = primary_button_to('Food Items', by_use_items_path(use: 'food'))
    = primary_button_to('Abstract Items', abstractions_path)
    - if policy(Item).edit?
      = new_button_to('New Item', new_item_path)

  = tile_body do
    %table.Table
      %thead
        %th Item Name
        %th
        %th
      %tbody
        - @items.each do |item|
          %tr
            %td= link_to(item.name, item)
            %td
              = item_use_tag(item)
              = item_price_tag(item)
            %td
              - if item.ingredients_count > 0
                Used in #{pluralize(item.ingredients_count, 'recipe')}.
              - if item.results_count > 0
                Made from #{pluralize(item.results_count, 'recipe')}.
    = paginate @items
