= layout_main_content size: :sm do
  = tile_with_heading('Your Avatars') do
    - if current_user.not_null?
      - if @avatars
        .grid.sm:grid-cols-1.md:grid-cols-2.gap-1
          - @avatars.each do |avatar|
            - next unless avatar.persisted?
            %div
              = avatar.name
              - if avatar.is_default
                = flair_info('default')
            .md:text-right
              = default_button_to('View Skills', avatar_skills_path(avatar))
              = edit_icon_to(edit_avatar_path(id: avatar), size: :md)
              = destroy_icon_to(avatar_path(id: avatar), size: :md)
      - else
        %p You have no Avatars yet, add one below!

      - if @avatars && @avatars.none?(&:is_default)
        = notice_info do
          You have no default avatar. Edit an avatar, and you can make them the
          <strong>default</strong> for things like the skills calculator.
    - else
      %p
        If you sign-up for an account in SotA Lore, you can create avatars and
        track their skill levels on the skills calculator. There isn't much
        beyond that functionality, at the moment.

      %p
        Creating an account is simple, but it does require an email and password.
        The only emails the site sends is for resetting a lost password.

      %p
        You can
        = default_button_to('sign up here.', new_user_registration_path)


  - if current_user.not_null?
    = tile_with_heading('Add An Avatar') do
      = render partial: 'form', locals: { avatar: (@avatar || Avatar.new) }
