- editable = policy(post).edit?
- destroyable = policy(post).destroy?
- p post
= tile do
  - subheading = capture do
    %span.text-sm.text-gray-600.ml-2
      by #{post.author.name}
      = time_ago_in_words(post.created_at)
      ago

  .Tile-heading
    %h3
      - if post.parent
        .inline-block.text-lg.mr-1 #{post.parent}:
      = link_to(post.title, post)

    .grow.text-left= subheading

    - if editable || destroyable
      .Tile-controls
        - if editable
          = edit_icon_to(edit_post_path(post))
        - if destroyable
          = destroy_icon_to(post_path(post))

  = tile_body do
    - if local_assigns[:truncate]
      = simple_format post.truncated
      = link_to post do
        %span.text-sm read more

    - else
      = post.content
