- editable = policy(post).edit?
- destroyable = policy(post).destroy?

= tile do
  - subheading = capture do
    %span.text-sm.text-gray-600.ml-2
      by #{post.author.name}
      = time_ago_in_words(post.created_at)
      ago

  = tile_heading(link_to(post.title, post), subheading: subheading) do
    - if editable || destroyable
      %div.ml-2
        - if editable
          = edit_icon_to(edit_post_path(post))
        - if destroyable
          = destroy_icon_to(post_path(post))

  = tile_body do
    - if local_assigns[:truncate]
      = post.truncated
      = link_to post do
        %span.text-sm read more

    - else
      = post.content
