- page_title('Posts')

= tile do
  = tile_heading('Posts') do
    - if policy(Post).new?
      = new_button_to 'New Post', new_post_path

  = tile_body do
    - @posts.each do |post|
      = render post
