!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      - if page_title
        #{page_title} --
      SotA Lore
    = csrf_meta_tags
    %meta{:charset => "utf-8"}/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'actiontext', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lightgallery.min.css", media: 'all', integrity: "sha512-F2E+YYE1gkt0T5TVajAslgDfTEUQKtlu4ralVq78ViNxhKXQLrgQLLie8u1tVdG2vWnB3ute4hcdbiBtvJQh0g==", crossorigin: "anonymous", referrerpolicy: "no-referrer"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
    = javascript_include_tag 'https://challenges.cloudflare.com/turnstile/v0/api.js', async: true, defer: true
    = action_cable_meta_tag
    = hotwire_livereload_tags if Rails.env.development?

    %link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    %link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    %link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    %link(rel="manifest" href="/site.webmanifest")

  %body.bg-zinc-200{data: { 'controller' => 'mousetrap' }}
    .flex.h-screen
      .bg-slorange-700.w-16.lg:w-40
        .h-12.p-3.text-center
          = link_to('/', class: 'text-xl font-bold text-zinc-200') do
            %span.hidden.lg:inline SOTA LORE
            %span.inline.lg:hidden SL
        %div
          %nav.main-navigation.text-center.lg:text-left
            - if current_user.not_null?
              = site_nav_link_to('My Recipes', user_recipes_path, 'book')
            = site_nav_link_to('My Avatars', avatars_path, 'shield', active: [['avatars'],[]])

            - if current_user.not_null? && default_avatar = current_user.avatars.detect(&:is_default)
              - curr_skills_path = avatar_skills_path(default_avatar)
            - else
              - curr_skills_path = skills_path
            = site_nav_link_to('Skills', curr_skills_path, 'jewel', active: [['skills'], []])

            = site_nav_link_to('Items', items_path, 'box')
            = site_nav_link_to('Recipes', recipes_path, 'recipe')
            = site_nav_link_to('Scenes', scenes_path, 'map')
            = site_nav_link_to('Rifts', lunar_rifts_path, 'location_marker')
            = site_nav_link_to('Trainers', master_trainers_path, 'location_marker')
            = site_nav_link_to('Farming', farming_path, 'hoe')
            - if current_user.not_null?
              = site_nav_link_to('Planting', plantings_path, 'seedling')
            = site_nav_link_to('Comments', comments_path, 'chat')
            - if policy(:default_admin).index?
              %hr.my-2
              = site_nav_link_to('ADM', adm_users_path, 'key')
              = site_nav_link_to('Admin', admin_root_path, 'key')
            %hr.my-2
            - if current_user.not_null?
              = site_nav_link_to('Sign Out', destroy_user_session_path, 'sign_out')
            - else
              = site_nav_link_to('Sign In', new_user_session_path, 'sign_in')
              = site_nav_link_to('Register', new_user_registration_path, 'user_plus')

      .flex-1.flex.overflow-hidden
        .flex-1.overflow-y-scroll
          .flex-grow.flex.flex-col.z-50.bg-slorange-700.h-12
            .inline-block.global-search.text-slate-200.relative{ data: {controller: 'autocomplete', 'autocomplete-url-value' => '/search/global' }}
              %form.block.h-12.px-4{:action => "/search", :method => "GET"}
                %input#global-search.global-search-input{:name => "q", :placeholder => "Search", :type => "text", data: { 'autocomplete-target' => 'input' }}/
                %i.-ml-9.text-slate-400= render_icon('magnifying_glass', color: :current)
                %div#global-search-results.global-search-results{ data: { 'autocomplete-target' => 'results' }}

            %div.content.grow
              #flash-messages-container
                = render_flash_messages

              - if content_for(:content)
                = yield(:content)
              - else
                = yield
