!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      - if page_title
        #{page_title} --
      SotA Lore
    = csrf_meta_tags
    %meta{:charset => "utf-8"}/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: 'defer'

    %link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    %link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    %link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    %link(rel="manifest" href="/site.webmanifest")

  %body
    .PortalNav
      .PortalNav-header
        .PortalNav-search{ data: {controller: 'autocomplete', 'autocomplete-url' => '/search/global' }}
          %form.PortalNav-searchForm{:action => "/search", :method => "GET"}
            %i.fas.fa-search.PortalNav-searchIcon
            %input#global-search.PortalNav-searchInput{:name => "q", :placeholder => "Search", :type => "text", data: { 'autocomplete-target' => 'input' }}/
          %div.PortalNav-searchResults{ data: { 'autocomplete-target' => 'results' }}

      %nav.PortalNav-links
        = link_to('/', class: 'PortalNav-logo') do
          %span.full SotA Lore
          %span.small SL

        - if current_user.not_null?
          = portal_nav_link_to('My Recipes', user_recipes_path, 'book')
          = portal_nav_link_to('My Avatars', avatars_path, 'user-shield')
        = portal_nav_link_to('Skills', skills_path, 'dice-d20')
        = portal_nav_link_to('Items', items_path, 'object-group')
        = portal_nav_link_to('Recipes', recipes_path, 'gavel')
        = portal_nav_link_to('Scenes', scenes_path, 'map')
        = portal_nav_link_to('Rifts', lunar_rifts_path, 'map-marker')
        = portal_nav_link_to('Farming', farming_path, 'leaf')
        - if current_user.not_null?
          = portal_nav_link_to('Planting', plantings_path, 'seedling')
        = portal_nav_link_to('Comments', comments_path, 'comment')
        %hr
        - if current_user.not_null?
          = portal_nav_link_to('Sign Out', destroy_user_session_path, 'sign-out-alt')
        - else
          = portal_nav_link_to('Sign In', new_user_session_path, 'sign-in-alt')
          = portal_nav_link_to('Register', new_user_registration_path, 'user-plus')

      .PortalNav-content
        .DivisionNav
          .DivisionNav-content
            .SectionNav
              .SectionNav-content
                #flash-messages-container
                  = render_flash_messages

                - if content_for(:content)
                  = yield(:content)
                - else
                  = yield
